* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
}

.foto__h1{
    font-family: Roboto;
    font-size: 19px;
    font-weight: 700;
    line-height: 22px;
}

.foto__p1{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

